<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      Calculator
    </ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content padding>
   <img padding src="https://cdn.jsdelivr.net/gh/GinoGH-19/EMTECH-PE-GRP5@master/BLUE.png">
  <ion-card>
  <ion-item>
    <ion-label color="dark"> Gender: </ion-label>
    <ion-select interface="popover" [(ngModel)]="gender">
      <ion-option value="m">Male</ion-option>
      <ion-option value="f">Female</ion-option>
    </ion-select>
</ion-item>

  <ion-item color="primary">
   <ion-label color="light"> Height (cm): </ion-label>
   <ion-input type="number" [(ngModel)]="ht"> </ion-input>
  </ion-item>

  <ion-item>
   <ion-label color="dark"> Weight (kg): </ion-label>
   <ion-input type="number" [(ngModel)]="wt"> </ion-input>
  </ion-item>

  <ion-item color="primary">
   <ion-label color="light"> Age: </ion-label>
   <ion-input type="number" [(ngModel)]="age"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="dark"> Activity Level: </ion-label>
    <ion-select interface="popover" [(ngModel)]="al">
      <ion-option value="1.2">Little or no exercise</ion-option>
      <ion-option value="1.4">Light exercise (1-2 days/week)</ion-option>
      <ion-option value="1.6">Moderate exercise (2-3 days/week)</ion-option>
      <ion-option value="1.75">Hard exercise (4-5 days/week)</ion-option>
      <ion-option value="2.0">Very hard exercise (6-7 days/week)</ion-option>
      <ion-option value="2.3">Professional athlete</ion-option>
    </ion-select>
  </ion-item>

  </ion-card>
  <button ion-button block color="primary" (click)="Calculate()"> CALCULATE </button>

  <ion-card>
  <ion-item *ngIf="dci">
    <h2>Daily Calorie Intake: {{dci}} kcal/day</h2>
  </ion-item>
 <ion-item color="primary" *ngIf="car">
   <h2>Carbs: {{car}} kcal</h2>
   </ion-item>
<ion-item *ngIf="pro">
  <h2>Proteins: {{pro}} kcal</h2>
  </ion-item>
<ion-item color="primar" *ngIf="fat">
   <h2>Fats: {{fat}} kcal</h2>
   </ion-item>
   </ion-card>
</ion-content>