ion-content {
  background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
ion-card-title {
  font-family: Helvetica;
}
p {
  font-family: Helvetica;
  text-align: justify;
}