ion-content {
  background: linear-gradient(to right, #232526, #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
ion-card-title {
  font-family: Helvetica;
}
p {
  font-family: Helvetica;
  text-align: justify;
}