ion-content {
   background: linear-gradient(to top, #000428, #004e92); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
ion-card-title {
  font-family: Helvetica;
}
p {
  font-family: Helvetica;
  text-align: justify
}
img {
  text-align: center;
}