ion-content {
  background: linear-gradient(to top, #000428, #004e92); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
h2 {
 text-align: center;
 font-family: helvetica;
}
p {
  text-align: justify;
  font-family: Helvetica;
  position: relative;
  top: 40px;
}
img {
  position: relative;
  top: 30px;
}